{# package \App\Entity\Package #}
<a href="#" data-url="{{ path('package_checkout', { 'id': package.id, 'gift': isGiftMode|default(false) ? 1 : 0 }) }}" data-remodal="checkout" class="{% if package.newUser %}first-class{% endif %}">
    {% if package.specialPriceActiveNow and package.amount > 0 %}
        {% set discountPct = ((package.amount - package.specialPrice) / package.amount * 100)|round %}
        <i class="discount">{% if package.discountInfo %}<span style="display:block;font-size:.9em;line-height:1.2;">{{ package.discountInfo }}</span>{% endif %}<span style="display:block;font-size:1.25em;font-weight:700;line-height:1.1;">{{ discountPct }}%</span></i>
    {% endif %}
    <div>
        <p>
            {% if package.isUnlimited %}
                &infin;
            {% else %}
                {{ package.totalClasses }}
            {% endif %}
        </p>
    </div>
    <h6 class="{{ package.specialPriceActiveNow ? 'old-price' }}">
        {% if package.altText %}
            <small>{{ package.altText }}</small><br>
        {% else %}
            <small>Clase{{ 1 == package.totalClasses ? '' : 's' }}</small><br>
        {% endif %}

        ${{ package.amount|number_format }}
    </h6>

    {% if package.specialPriceActiveNow %}
        <h5 class="new-price">${{ package.specialPrice|number_format }}</h5>
    {% endif %}

    <small class="validity">
        {% if isGiftMode|default(false) %}
            Comprar como regalo
        {% else %}
            Vigencia {{ package.daysExpiry }} días
        {% endif %}
    </small>
</a>
